:root {
  --bg: #D6D8CC;
  --text: #BC9D38;
}

/* :root {
  --bg: #FF6D2A;
  --text: #7AC8D2;
}

:root {
  --bg: #C4C2A9;
  --text: #CD7C44;
}

:root {
  --bg: #e0b390;
  --text: #D3793B;
}

:root {
  --bg: #404C34;
  --text: #D0F16E;
}

:root {
  --bg: #93901B;
  --text: #F3F2A2;
}

:root {
  --bg: #BEA733;
  --text: #E0E5E9;
} */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.App {
  background-color: var(--bg);
  min-height: 100dvh;
  padding-left: 10%;
  padding-right: 10%;

  /* flex-box */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  /* text */
  line-height: 1;
  color: var(--text);
  font-family: 'Didact Gothic', sans-serif;
  text-align: left;
  padding-left: 10%;


  /* save the date */
  h4 {
    font-weight: normal;
  }

  #save-the-date {
    margin-top: 0;
    font-size: 30px;
    margin-bottom: -20px;
  }

  #celebrate {
    margin-bottom: -16px;
  }

  #date {
    font-size: 34px;
    margin-bottom: 10px;
    margin-top: 8px;
  }

  /* nick & zoe */
  h1 {
   font-size: 56px;
   font-weight: normal;
   margin-bottom: 0px;
   /* margin-top: 0px; */
  }


  p {
    font-size: 30px;
    margin-bottom: 0px;
  }

  #location {
    font-size: 22px;

    a {
      color: var(--text);
      text-decoration: none;
    }
  }


  p#info {
    margin-top: 24px;
    font-size: 14px;
  }
}
